{% extends "base.html" %}
{% block content %}
<section class="card center">
  <div class="success-heart">💗</div>
  <div class="kicker">спасибо за ответ!</div>
  <h1>До встречи, {{ guest.name }}!</h1>
  <div class="heart-divider">♡</div>

  <div class="date">25 сентября 2026 · 13:00</div>
  <h2>Дворец Бракосочетания «Шепиловский»</h2>
  <p>Набережная Москвы-реки</p>
  <div class="map">
    <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A4ea533602f2bf96c20e9d7ce63c3a690da0511254b4ab885aad4312bc51e4fd0&amp;source=constructor" width="500" height="400" frameborder="0"></iframe>
  </div>

  <div class="menu-box" style="text-align:left">
    <h3>Как одеться 👗</h3>
    <p>🔸 Церемония проходит на открытом воздухе, поэтому очень просим посмотреть прогноз погоды ближе к дате и одеться по погоде. Сбор планируется в 12:45, вас встретят ведущие и сориентируют.</p>
    <p>Если погода решит устроить нам испытание на прочность, мы предупредим вас за день, и церемония перенесётся в закрытое пространство — всё равно в Коломенском 🤍</p>

    <h3>Если потерялись 📍</h3>
    <p>Если возникнут вопросы по локации или вы немного заблудитесь, обращайтесь к нашим прекрасным ведущим — по совместительству актрисам и подругам невесты:</p>
    <p><b>Ксения:</b> 89167097191<br><b>Тася:</b> 89671216144</p>

    <h3>После церемонии 🥂</h3>
    <p>Переезжаем на праздничный вечер в ресторан «Есения». Здесь будем ужинать, разговаривать, танцевать и отмечать начало нашей семейной истории ✨</p>

    <h3>Дресс-код 🌷</h3>
    <p>Нам хочется, чтобы этот день был красивым, но прежде всего — чтобы вам было комфортно. Предпочитаемые цвета и оттенки — пастельные тона. Предпочитаемые цвета и оттенки — пастельные тона. </p>
      
      <p>Например, песочный, светло-серый, пудровый, персиковый, фисташковый, сливочный, небесно-голубой, мятный, лавандовый, коричнево-бежевый. То есть не тёмные и не контрастные тона.</p>

    <h3>Подарки 🎁</h3>
    <p>Самый главный подарок для нас — провести этот день вместе с вами.</p>
    <p>Мы понимаем, что дарить цветы на свадьбу — традиция, но мы не сможем насладиться их красотой в полной мере. А если вы всё-таки хотите нас чем-то порадовать, будем благодарны материальному вкладу в нашу будущую семейную жизнь 🤍</p>
    <p>А если вы всё-таки хотите нас чем-то порадовать, будем благодарны материальному вклад в нашу будущую семейную жизнь. Если всё-таки хочется подарить что-то на вещественное, то можете обратиться к ведущим Тасе и Ксении - они вас сориентируют.</p>
  </div>

  {% if choices %}
  <div class="menu-box" style="text-align:left">
    <h3>Твои сохранённые ответы 💌</h3>
    {% for c in choices %}
      <p>Гость №{{ c.guest_number }}:
        <b>{{ {'meat':'🥩 Мясо','fish':'🐟 Рыба','poultry':'🍗 Птица'}[c.menu] }}</b>
      </p>
    {% endfor %}
  </div>
  {% endif %}

  {% if drinks %}
  <div class="menu-box" style="text-align:left">
    <h3>Предпочтения по напиткам 🥂</h3>
    {% for d in drinks %}
      <p>Гость №{{ d.guest_number }}: <b>{{ {'champagne':'🥂 Шампанское','white_wine':'🍾 Белое вино','red_wine':'🍷 Красное вино','cognac':'🥃 Коньяк','whisky':'🥃 Виски','tinctures':'🍸 Настойки','non_alcoholic':'🧃 Безалкогольные напитки','anything_burning':'🔥 Всё, что горит','no_alcohol':'🚫 Не планирую пить алкоголь'}[d.drink] }}</b></p>
    {% endfor %}
  </div>
  {% endif %}

  {% if guest.short_fact %}
  <div class="menu-box" style="text-align:left">
    <h3>Твой маленький секрет 🤫</h3>
    <p>{{ guest.short_fact }}</p>
  </div>
  {% endif %}

  <p class="lead">Мы очень тебя ждём!🤍</p>
  <a class="button" href="{{ url_for('invite', token=guest.token, edit=1) }}">Изменить ответ ✏️</a>
</section>
{% endblock %}