
{% extends "base.html" %}
{% block content %}
<section class="card center">
<div class="date">25 сентября 2026 в 13:00</div>
<h2>Ждем тебя во дворце Бракосочетания "Шепиловский"<br>Набережная москвы реки</h2>
<div class="map"><iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A4ea533602f2bf96c20e9d7ce63c3a690da0511254b4ab885aad4312bc51e4fd0&amp;source=constructor" width="500" height="400" frameborder="0"></iframe></div>
<p> <h3>КАК ОДЕТЬСЯ</h3>
    🔸Церемония проходит на открытом воздухе, поэтому очень просим посмотреть прогноз погоды ближе к дате и одеться по погоде.

    Если погода решит устроить нам испытание на прочность, мы предупредим вас за день и церемония перенесётся в закрытое пространство — всё равно в Коломенском. </p>
<p>

    🔸Если у вас возникнут вопросы по локации или вы немного заблудитесь, то прошу обращайтесь к нашим прекрасным двум ведущим (по совместительству актрисами и подругами невесты):
    Тася: 89671216144
    Ксения: 89167097191
    </p>
<p>
    <h3>После церемонии</h3>

    Переезжаем на праздничный вечер в ресторан «Есения»
    
    
    Здесь будем ужинать, разговаривать, танцевать и отмечать начало нашей семейной истории.
</p>
<p>
    <h3>ДРЕСС-КОД</h3>
    Нам хочется, чтобы этот день был красивым, но прежде всего — чтобы вам было комфортно. 
    
    Предпочитаемые цвета и оттенки — пастельные тона. 
    Поэтому строгого dress code нет.
</p>

<p><h3>ПОДАРКИ</h3>

    Самый главный подарок для нас — провести этот день вместе с вами.
    
    Мы понимаем, что дарить цветы на свадьбу - это традиция, но мы не сможем насладиться их красотой в полной мере...
    А если вы всё-таки хотите нас чем-то порадовать, будем благодарны материальному вклад в нашу будущую семейную жизнь и маленькие и большие совместные мечты.</p>
    <div class="small">СПАСИБО!</div>
<h1>До встречи, {{ guest.name }} ❤️</h1>
<p>Твой ответ сохранён. Будем ждать тебя на нашей свадьбе!</p>

{% if choices %}
<div class="menu-box">
    <h3>Твои сохранённые ответы</h3>
    {% for c in choices %}
    <p>Гость №{{ c.guest_number }}:
        <b>{{ {'meat':'🥩 Мясо','fish':'🐟 Рыба','poultry':'🍗 Птица'}[c.menu] }}</b>
    </p>
    {% endfor %}
</div>
{% endif %}

<a class="button" href="{{ url_for('invite', token=guest.token, edit=1) }}">
    Пройти заново
</a>
</section>
{% endblock %}
